.loader-container {
	width: 100%;
	height: 20px;
	border: 1px solid #000;
	border: 2px outset #fff;
    padding: 2px;
}

.loader-content {
	height: 100%;
	background-color: lime;
	width: 0%;
}

.loader-wrapper {
	z-index: 99;
	width: 200px;
	font-family: "PixelMPlus10";
	position: absolute;
	color: #fff;
	transition: 1s;
	position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.hidden {
	opacity: 0;
	visibility: hidden;
}

@font-face {
	font-family: PixelMPlus10;
	src: url(./assets/font/PixelMplus10-Regular.ttf);
}